rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    match /uploads/{userId}/{allPaths=**} {
      allow read: if isSignedIn() || resource.metadata.shareable == 'true';
      allow write, delete: if isSignedIn() && request.auth.uid == userId;
    }
  }
}
